html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-size: contain;
    background-attachment: fixed;
    font-family: sans-serif;
}

.header {
  text-align: left;
}

#main-content {
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}

h1 {
    text-shadow: 2px 2px 2px #000;
    display: inline-block;
    font-size: 3em;
    line-height: 1.3em;
    margin:0;
    margin-left: 10px;
    vertical-align: top;
}


.header-logo {
  display: inline-block;
  height: 4em;
  vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li {
    list-style: none;
    width: 20%;
    margin: 0 1%;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
}

.btn {
    color: white;
    background-color: #C62828;
    border: none;
    padding: 1em;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    min-width: 150px;
}

.btn:hover {
    transform: scale(1.05);
}


  .header {
    margin-top: 3em;
  }
}
