body {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.planet {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    position: relative;
}

.moon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(153, 153, 153);
}
            